.text-center {
    margin-top: 100px;
    font-weight: 700;
    font-size: 25px;
    color: #3F2409;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.custom-card {
    width: 270px;
    height: 210px;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-subtitle {
    line-height: 1.5;
    font-size: 18px;
}

.card-text {
    font-size: 15px;
    justify-content: baseline;
}