/* Cabecalho.css */
.header {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-weight: bold;
  }

  .logo {
    letter-spacing: 5px;
  }

  .manifesto {
    color: #3F2409;
  }
  
  .nav-link {
    color: #3F2409;
    text-decoration: none;
    margin-right: 5px;
    font-size: 15;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: #000;
  }

  .custom-nav-link {
    color: #AC883F;
    font-weight: bold;
  }
  
  .separator {
    margin: 0 5px;
  }
  
  .btn {
    margin-left: 15px;
    background-color: #AC883F;
    color: #fff;
    font-weight: bold;
  }
  