.progress-bar {
    height: 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .progress {
    height: 100%;
    background-color: #AC883F;
    transition: width 0.4s ease;
  }
  
  .form-container {
    max-width: 800px;
    margin: auto;
  }
  
  .step-count {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 90px;
  }
  
  .form-step {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f9f9f9;
  }
  